body {
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
    
    
    }
    header {
      background-image: url("./../assets/images/hero.gif");
      text-align: center;
      height: 750px;
      width: 100%;
      background-size: cover;
    }

    
    .logo img {
        width: 6%;
        height: 8%;
        position: absolute;
        left: 6%;
        top: 5%;

    }

    nav {
        left: 40%;
        position: relative;
        width: 50%;
        height: 10%;
        top: 10%;
    }

    nav > a, nav > p > a {
        position: relative;
        margin: 3%;
        color: white;
        font-size: 1em;
        text-decoration: none;
    }

    nav > p {
        border-radius: 8%;
        border: 1px solid white;
        width: 60px;
        height: 40px;
        margin: 3%;
        display: inline-block;
    }

    p > a {
        position: absolute;
        top: 15%;
    }

    .user-form {
        background-color: white;
        width: 50%;
        height: 40%;
        position: relative;
        left: 50%;
        top: 10%;
    }

    .form-title {
        font-size: 3em;
        color: #352384;
        text-align: center;
        font-family: Montserrat; 
    }

    .sign-up {
        font-size: 1em;
        color: #352384;
        text-align: center;
        bottom: 10%;
        position: relative;
    }

    input {
        width: 40%;
        position: relative;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;


    }

    input > span {
        width: 20%;
        border: none;
        border-radius: 8%;
    }
